// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


//
// Custom styles
//

@import "icon-list";

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&family=Monoton&display=swap');

body {
  //padding: 3rem 1.5rem;
  padding: 0;
}

header{
  margin-top: 4rem;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  }
  
.card {
  margin-top: 18px;
  padding-top: 0;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.1);
}
// Style Bootstrap icons
.bi {
  fill: currentColor;
}


.img {
  margin-top: 8px;
  vertical-align: middle;
  transition: transform 0.2s ease;
}

.img:hover {
  transform: scale(1.1);
}

.carousel-content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 50%;
  text-align: center;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.ci-text{
  font-family: 'Monoton', cursive; font-weight: 50;
  transition-delay: 250ms;
}

.ci-text:hover{
  transform: scale(1.1);
}


$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;



// Crop thumbnail images.
#gallery {
  img {
    width: 50vw;
    height: 50vw;
    object-fit: cover;
    margin-top: 18px;
    
    @media (min-width: $bootstrap-sm) {
      height: 35vw;
    }
    
    @media (min-width: $bootstrap-lg) {
      height: 18vw;
    }
  }
}

.top-large{
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.navbar {
  background-attachment: fixed;
  background-position: auto,center top;
}

.navbar-toggler.collapsed .close-icon {
  transition-delay: 250ms;
  display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transition-delay: 250ms;
  display: inline;
}